$main-color: #f17119;

.container {
  background: url(../../assets/photo-1509358271058-acd22cc93898.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .signUpForm {
    position: absolute;
    width: 458px;
    height: 490px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    background: linear-gradient(
      114.83deg,
      rgba(255, 255, 255, 0.5) 0.8%,
      rgba(3, 17, 30, 0) 101.31%
    );
    filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
    backdrop-filter: blur(40px);
    border-radius: 30px;

    .signUpBtn {
      //   padding: 14px 10px;
      color: white;
      font-weight: 500;
      font-size: 16px;
      width: 262px;
      height: 47px;
      background: $main-color;
      border: none;
      cursor: pointer;
      border-radius: 15px;
    }
    .title {
      padding: 20px 0px;
      color: $main-color;
      filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
    }
  }
}
