.ava-container {
  position: absolute;
  //   border: 1px solid black;
  //   background-color: white;
  top: 43px;
  right: 30px;
  z-index: 5;

  .logOutBtn {
    margin-top: auto;
    padding: 5px;
  }
}
