@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
body {
  margin: 0;
  font-family: 'Quattrocento', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
overflow-x:hidden;
}

p{
  font-family: 'Ruda', sans-serif;
  font-size:25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overflow_hide{
  overflow: hidden;
}